body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header {
    background-color: black;
    width: 100%;
    height: 120px;
    border: none;
    box-sizing: border-box;
    margin: 0;
    color: white;
}
.headerColumn1 {
    float: left;
    width: 40%;
    box-sizing: border-box;
}
.headerColumn2 {
    float: left;
    width: 60%;
    box-sizing: border-box;
    display: grid ;
    grid-template-columns: repeat(4,auto);
    gap: 20px 40px;
    padding: 25px;
}
a {
    color: white;
    text-decoration: none;
    padding-left: 30px;
}
.header::after {
    content: "";
    clear: both;
}
img {
    width: 120px;
    height: 100%;
    float: left;
    padding-left: 20px;
}
h3 {
    padding: 10px;
    padding-bottom: 0;
}
p {
    padding-top: 0;
}
a:hover {
    color: red;
}
.Image1 {
    width: 100%;
    height: 1000px;
    padding: 0;
    margin: 0;
}
.about {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.aboutColumn1, .aboutColumn2 {
    float: left;
    width: 50%;
    box-sizing: border-box;
}
.aboutImage {
    height: 700px;
    width: 700px;
}
.aboutColumn2 {
    padding-top: 200px;
    text-align: center;
}
.aboutpara {
    line-height: 40px;
    font-weight: bold;
}
.about::after {
    clear: both;
}
.infraVideo {
    margin-top: 0;
    width: 1250px;
    height: 100%;
}
.infraVideo video {
    width: 1200px;
    height: 1200px;
    margin-left: 150px;
}
.management {
    text-align: center;
    margin-top: 0;
    margin-bottom: 200px;
}
.managementpara {
    padding-left: 100px;
    padding-right: 100px;
    line-height: 40px;
    font-size: large;
    font-weight: bold;
}
.managementImages {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.member img {
    width: 200px;
}
.associate {
    width: 100%;
    height: 400px;
    background-color: blanchedalmond;
    text-align: center;
}
.associate h1 {
    padding-top: 50px;
    padding-bottom: 40px;
}
.count {
    height: 120px;
    width: 800px;
    background-color: red;
    margin-left: 350px;
    border-radius: 10px;
}
.countColumn {
    float: left;
    width: 25%;
    color: white;
    padding-top: 30px;
}
.countpara {
    margin-top: 0;
    font-weight: bold;
}
.companies {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
    padding-left: 100px;
}
.ZohoLogo, .HclLogo, .DeloitteLogo, .TechmahindraLogo, .WiproLogo,
    .InfosysLogo, .IBMLogo, .AccentureLogo {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    z-index: 1;
    position: relative;
    animation: moves 2s ease-in-out infinite;
         margin-right: 50px;
}
@keyframes moves {
    0%{ transform: translateY(0); }
    50%{ transform: translateY(-50px); }
    100%{ transform: translateY(0); }
}
.testimonies {
    width: 100%;
    height: 650px;
    background-color: white;
    margin-top: 50px;
    text-align: center;
}
.TestimonalsStudent, .TestimonalsCompanies {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    font-size: medium;
    border: none;
}
.TestimonalsStudent {
    background-color: red;
    color: white;
}
.testimonalBox {
    width: 800px;
    height: 400px;
    background-color: blanchedalmond;
    margin-left: 350px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    overflow-y: scroll;
}
.testimonalImage {
    float: left;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.TestimonalContent1 {
    text-align: center;
    font-size: large;
    line-height: 40px;
}
.TestimonalContent2 {
    font-weight: bold;
    margin-bottom: 0;
}
.TestimonalContent3 {
    margin-top: 0;
}
.Footer {
    width: 100%;
    height: 150px;
    background-color: black;
    color: white;
    box-sizing: border-box;
}
.FooterColumn1 {
    float: left;
    width: 50%;
    box-sizing: border-box;
}
.FooterColumn2 {
    float: right;
    width: 50%;
    box-sizing: border-box;
}
.FooterLogo {
    height: 100px;
    width: 100px;
    margin: 25px;
}
.FooterColumn1 {
    padding-left: 250px;
}
.FooterColumn1 h2 {
    padding-top: 20px;
}
.FooterColumn2 {
    margin-top: 25px;
}
.FooterIcons {
    list-style-type: none;
}
.FooterIcons li {
    margin-bottom: 15px;
}
.FooterIcons li i {
    font-size: 25px;
    color: red;
}
.FooterIcons li span {
    color: white;
    font-size: large;
    margin-left: 10px;
    text-transform: lowercase;
}
.SocialIcons{
    position: fixed;
    top: 180px;
    right: 0%;
    display: flex;
    flex-direction: column;
    font-size: 50px;
}
.SocialIcons a {
    font-size: 50px;
}
#facebook { color: #1877F2; }
#instagram { color: #E1306C; }
#youtube { color: #FF0000; }
#twitter { color: #1DA1F2; }
#linkedin { color: #0A66C2; }
#whatsapp { color: #25D366; }




