* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}
.Header {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 150px;
    background:linear-gradient(to right, #0f2027, #203a43, #2c5364);
}
.Header h2 {
    padding: 40px;
    font-size: 42px;
    font-style: oblique;
    color: white;
}
.CollegeName {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 150px;
}
.CollegeName h2 {
    padding: 20px;
    padding-left: 250px;
   font-size: 42px;
    color: #003366;
    transition: all 0.4s ease;
}
.CollegeName h2:hover {
    color: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    font-size: 60px;
    transform: translateY(+10px);
}
.LoginBox {
    width: 400px;
    height: 400px;
    margin-left: 500px;
    background: radial-gradient(circle,#0f2027, #203a43, #2c5364);
}
h4 {
    text-align: center;
    padding: 20px;
    font-size: 32px;
    color: white;
}
input {
    width: 320px;
    height: 50px;
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
}
.LoginButton {
    background:linear-gradient(to right, #d0f0fd, #c2e9fb);
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin-left: 150px;
}
a {
    color: #003366;
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
}